<html lang="en" data-lt-installed="true"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>{% block title %}
{{ title }}
{% endblock %}</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/jumbotron/">

    <!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">
  </head>
<style>
body{
padding-top: 56px;

  background-image: url('media/about.jpeg');
<!--  background-repeat: no-repeat;-->
    background-size: 100%;

}

 .a
  {
 font-style: italic;
    color:Green;
  }
</style>
  <body data-new-gr-c-s-check-loaded="14.998.0" data-gr-ext-installed="">

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">Турагентсво Авива</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
          </li>


        </ul>
{#        <form class="form-inline my-2 my-lg-0">#}
{#          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">#}
{#          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>#}
{#        </form>#}
      </div>
    </nav>

    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Страничка о нас</h1>
          <p> Очень мило что вы захотели познакомиться с нами поближе. "Информация о нас"  </p>
        </div>
      </div>
 <p style="color:Red"> Для вас мы выделили основные плюсы путешествий:</p>
      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2 style="font:italic 45px bold" >Познать Себя</h2>
            <p style="color:Orange" >Путешествуйте, чтобы лучше узнать себя. Чем больше вы путешествуете, тем больше у вас возможностей для самоанализа и взгляда в прошлое. Путешествие – это действительно отличный учитель, который не только учит вас миру, он также учит вас о себе и вашем месте в мире. </p>
          </div>
          <div class="col-md-4">
            <h2 style="font:italic 45px bold" >Больше Ценить Свой Дом и Страну</h2>
            <p style="color:Yellow" >Это может показаться странным. Кажется, что, когда вы путешествуете, вы открываете новые красивые места и страны, и вы никогда не захотите вернуться домой. Но в гостях хорошо, а дома лучше, и вы осознаете это еще больше, когда путешествуете.

Вы начинаете понимать, что ваш дом — по-своему особенный, в вашей стране есть то, чего нет в других. Именно благодаря путешествиям и контрасту я понял, насколько красива Беларусь на самом деле, и создал сайт для путешественников, чтобы помочь им открыть для себя и спланировать поездку в Беларусь. Так что путешествуйте по миру, чтобы больше ценить свой дом! </p>
          </div>
          <div class="col-md-4">
            <h2 style="font:italic 45px bold" >Стать Более Толерантным и Понимающим</h2>
            <p class="a" style="color:Green"  >Путешествия делают вас более толерантным, чувствительным и понимающим. Чем больше вы путешествуете и сталкиваетесь с новыми культурами, вы начинаете принимать все больше и больше. Вы понимаете, что ваш – это не единственный способ жить. Существует много других культур, из которых можно что-то почерпнуть и привнести в свою. Таким образом, по сути, путешествия расширяют ваши горизонты и дают вам 360-градусный вид на мир</p>
          </div>
        </div>

        <hr>

      </div> <!-- /container -->

    </main>

    <footer class="container">
      <p>© Company 2021</p>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>


</body></html>