<html lang="en" data-lt-installed="true"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Med</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/blog/">

    <!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <link href="blog.css" rel="stylesheet">
  </head>

  <body data-new-gr-c-s-check-loaded="14.1002.0" data-gr-ext-installed="">

    <div class="container">
      <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
          <div class="col-4 pt-1">
<!--            <a class="text-muted" href="#">Subscribe</a>-->
          </div>
          <div class="col-4 text-center">
<!--            <a class="blog-header-logo text-dark" href="#">Large</a>-->
          </div>
          <div class="col-4 d-flex justify-content-end align-items-center">
            <a class="text-muted" href="#">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mx-3"><circle cx="10.5" cy="10.5" r="7.5"></circle><line x1="21" y1="21" x2="15.8" y2="15.8"></line></svg>
            </a>
<!--            <a class="btn btn-sm btn-outline-secondary" href="#">Sign up</a>-->
          </div>
        </div>
      </header>
<style>
body{
padding-top: 100px;
  background-image: url('media/med.jpeg');
  background-repeat: repeat-x;
  background-size: 100%;

}
</style>
      <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
          <a class="p-2 text-muted" href="/home">Home</a>
          <a class="p-2 text-muted" href="/contact">Contacts</a>
          <a class="p-2 text-muted" href="/country_info"> Back to Country</a>

        </nav>
      </div>

      <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
          <h1 class="display-4 font-italic">Мединские учреждения </h1>

          <p class="lead my-3">, в которых вы можете быстро подготовиться к поездке</p>
          <p style="font-style:oblique">   "Здоровье — это максимальная производительность органов при сохранении качественных пределов их функций."</p>
          <p>Николай Амосов</p>
<!--          <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>-->
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-md-6">
          {% if meds %}
            {%for el in meds%}
          <div class="card flex-md-row mb-4 box-shadow h-md-350">

            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-primary">Мед</strong>
              <h3 class="mb-0">
                <a class="text-dark" href="#">{{el.title}}</a>
              </h3>
              <div class="mb-1 text-muted">Apr 10</div>
              <p>Телефон: {{el.phone}}</p>
              <p>Средняя цена за услугу: {{el.av_price}}</p>
              <p>Рабочие дни: {{el.working_days}}</p>
              <p class="card-text mb-auto"> {{el.description}}</p>
              <a href="https://www.lode.by/">{{el.link}}</a>
            </div>

            <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" alt="Thumbnail [200x250]" style="width: 200px; height: 250px;" src="{{el.image.url}}" data-holder-rendered="true">
          </div>
            {%endfor%}

            {%else%}
            <p>No data</p>
            {%endif%}
        </div>

      </div>
    </div>

    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8 blog-main">
          <h3 class="pb-3 mb-4 font-italic border-bottom">
            Как сохранить здоровье во время путешествий
          </h3>

          <div class="blog-post">
            <h2 class="blog-post-title">Наши посты о здоровье</h2>
            <p class="blog-post-meta">January 1, 2021 by <a href="#">Victoria</a></p>
<h4>Ходите как можно больше, чтобы оставаться в форме</h4>
            <p>Оставаться в форме во время путешествий, без сомнения, непросто. Заманчивые продукты всегда в продаже. Это в сочетании с перерывом в вашей обычной тренировки, которая часто приводит к падению фитнес-вагон. Так как же оставаться в форме во время путешествий?? Это не так сложно, как вы думаете. Просто придерживайтесь нескольких простых правил, проявлять силу воли, и вы сможете вернуться домой с тем же здоровьем, с которого начинали свой отпуск.

</p>

            <h4>Упакуйте Правильный Материал</h4>
            <p>Если вы планируете оставаться в форме во время путешествий, то готовьтесь продолжать бег, или походы, или даже езда на велосипеде, вы должны быть уверены, что у вас есть правильное оборудование. Имейте это в виду, пока вы упаковываете. Если вам нужно выбрать между другой парой шикарной обуви или парой кроссовок, упаковать кроссовки.</p>
<h4> Питайтесь правильно  </h4>
<p>Не отказывайте себе в возможности попробовать известные национальные блюда, при этом не забывая о своем здоровье — наиболее распространенные у путешественников заболевания обычно вызваны непривычной едой и напитками.

</p>
                        <h4>Солнце — друг и враг здоровья</h4>
            <p>Улететь зимой на юг — мечта любого северного жителя. Но, попав под яркое южное солнце, нельзя расслабляться, — оно может сыграть с вами злую шутку. Старайтесь в первые дни отпуска принимать солнечные ванны дозированно — с утра и ближе к вечеру. Сгореть в первый день и проваляться с температурой все последующие — значит, испортить себе отдых.</p>

                        <h4>Вакцинация</h4>
            <p>Вакцинация необходима, если вы посещаете страну с неблагополучной эпидемиологической обстановкой. Более того, есть страны, куда просто не пустят без необходимых прививок. Например, для посещения Танзании и острова Занзибар требуется иммунизация против желтой лихорадки. И такое требование — идеальный вариант, чтобы обезопасить туристов от заражения.</p>



          </div><!-- /.blog-post -->



<!--          <nav class="blog-pagination">-->
<!--            <a class="btn btn-outline-primary" href="#">Older</a>-->
<!--            <a class="btn btn-outline-secondary disabled" href="#">Newer</a>-->
<!--          </nav>-->

        </div><!-- /.blog-main -->

        <aside class="col-md-4 blog-sidebar">
          <div class="p-3 mb-3 bg-light rounded">
            <h4 class="font-italic">About</h4>
            <p class="mb-0">Турфирма Авива<em>мы сделаем ваш отдых незабываем</em> <a href="/about"> больше информации </a> </p>
          </div>


          <div class="p-3">
            <h4 class="font-italic">Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="#">GitHub</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
            </ol>
          </div>
        </aside><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </main><!-- /.container -->

    <footer class="blog-footer">
      <p><a href="/about">Aviva</a> </p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <script>
      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      });
    </script>


<svg xmlns="http://www.w3.org/2000/svg" width="200" height="250" viewBox="0 0 200 250" preserveAspectRatio="none" style="display: none; visibility: hidden; position: absolute; top: -100%; left: -100%;"><defs><style type="text/css"></style></defs><text x="0" y="13" style="font-weight:bold;font-size:13pt;font-family:Arial, Helvetica, Open Sans, sans-serif">Thumbnail</text></svg></body></html>