<html lang="ru" data-lt-installed="true"><head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{% block title %}
{{ title }}
{% endblock %}</title>

  <!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <!-- Custom styles for this template -->
  <link href="css/the-big-picture.css" rel="stylesheet">

</head>
  <style>
    body{
      background-image: url('media/2.jpeg');
  background-repeat: no-repeat;
      background-size: 100%;
    }
  </style>
<body data-new-gr-c-s-check-loaded="14.998.0" data-gr-ext-installed="" background="turfirma/media/Снимок экрана 2021-02-02 в 17.36.04.png" >
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom">
    <div class="container">
      <a class="navbar-brand" href="#"> Турагенство Авива</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h1 class="mt-5"> МАРК ТВЕН</h1>
          <p>«Через двадцать лет Вы будете больше жалеть не о том, что сделали, а о том, что Вы не сделали. Так скидывайте узлы, выплывайте из тихих гаваней. Поймайте ветер в свои паруса. Исследуйте. Мечтайте. Открывайте.»</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<a class="btn btn-primary btn-xl js-scroll-trigger" href="/signin">Старт</a>
 <p><map name="worm">
   <area coords="1000,0, 1990, 0"  alt="Координаты для червяка">
  </map></p>
<!--  <a href="#"><img class="card-img-top" src="https://www.google.com/search?q=rfhnbyrb&rlz=1C5CHFA_enBY837BY837&sxsrf=ALeKk00nye9irnmZjWhex4v-PG53tqMPbg:1615543548409&tbm=isch&source=iu&ictx=1&fir=YpoI8CfGWzIXnM%252C1fs8sSJXUJGajM%252C_&vet=1&usg=AI4_-kRLDpr94n_2AZIyB3YqHyM8PFBebg&sa=X&ved=2ahUKEwiDoMnawKrvAhVPO-wKHcKkCwkQ9QF6BAgEEAE&biw=857&bih=910#imgrc=YpoI8CfGWzIXnM" alt=""></a>-->
<!--  <p><img src="media/2.jpeg" usemap = '#worm' width="600" height="300" alt="Письма мастера дзен " ></p>-->
<!--  <area shape="poly" coords="0,100,436,453">-->
</body></html>